.bod{
    background: url('https://i.pinimg.com/736x/83/5f/e4/835fe4c3456c3a8475405498266af4fa--vintage-black-christmas-.jpg'); 
   -webkit-background-size: cover;
   background-size: cover;
   background-attachment: fixed;
    padding-top: 1px;
}