.conte_nav{
    height: 80px;
    width: 100%;
}
.nav{
    background: #4f5f6f ;
    height: 80px;
    width: 100%;
}

.logo {
    color: white;
    font-size: 35px;
    line-height: 80px;
    padding: 0 40px;
    font-weight: bold;
    width: 10%;    
}
.link{
    text-decoration: none;
    color: #f29718;
}

.nav .ul{
    float: right;    
    margin-right: 20px;
    width: 70%;
}

.items{
    display: inline-block;
    line-height: 80px;    
}
.items a{    
    text-transform: uppercase;
}

.items button{
   
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    outline: none;
    background: #4d5061;
    font-size: 1rem;
    border: none;
    color: #f29718;   
    cursor: pointer;
    transition: all .5s ease;
    text-decoration: none;

}

.items button:hover{
    background: #f29718;
    color: white;
}
